.users-list {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  @at-root {
    .user-item {
      display: flex;
      text-align: left;
      height: 2rem;
      margin: 1rem 2rem;
      padding: 0.5rem 1rem;
      border: 1px solid #E4E7ED;
      border-radius: 1rem;
      .user-info{
        display: flex;
        margin-left: 1rem;
        height: 2rem;
        flex-direction: column;
        justify-content: space-around;
        p {
          margin: 0;
        }
        .username {
          font-size: 12px;
          font-weight: lighter;
        }
      }
    }
  }
}
