.friend-panel {
  display: grid;
  grid-template-rows: 3rem auto;
  height: 100%;
  overflow: hidden;
  @at-root {
    header {
      position: relative;
      line-height: 3rem;
      color: #606266;
      border-bottom: 1px solid #DCDFE6;
      font-size: 20px;
      font-weight: lighter;
      i {
        position: absolute;
        cursor: pointer;
        top: 1rem;
        left: 1rem;
        font-size: 16px;
      }
    }
    .panel {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .avatar {
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .el-button {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 80%;
      }
    }
  }
}
