.dialogs-list {
  overflow: auto;
  padding: 0;
  margin: 0;
  @at-root {
    .dialog-item{
      display: grid;
      grid-template-columns: 4rem auto 4rem;
      list-style: none;
      line-height: 2rem;
      height: 4rem;
      padding: 0 1rem;
      border-bottom: 1px solid #E4E7ED;
      cursor: pointer;
      .avatar {
        padding: 1rem;
      }
      .content-wrapper {
        line-height: 1rem;
        padding: 1rem 0;
        text-align: left;
        p {
          margin: 0;
        }
        .nickname {
          font-weight: bold;
        }
        .content {
          font-weight: lighter;
        }
      }
      .num {
        padding: 1rem;
        background: url("../../assets/message.png") no-repeat center center;
        background-size: 1.5rem 1.5rem;
        font-size: 12px;
      }
    }
  }
}
