.login {
  display: grid;
  height: 100%;
  grid-template-rows: 10rem auto 5rem;
  @at-root {
    .title {
      display: grid;
      align-items: end;
      font-size: 3rem;
      font-weight: bold;
    }
    .el-form {
      padding: 3rem;
    }
    .el-button {
      float: right;
      width: 6rem;
    }
    .nav {
      text-align: center;
    }
    a {
      text-decoration: none;
      &:active,
      &:hover,
      &:visited,
      &:link {
        color: #2c3e50;
      }
      &:hover{
        font-size: 1.2rem;
      }
    }
  }
}
