.contacts {
  position: relative;
  overflow: hidden;
  @at-root {
    .applications {
      height: 2rem;
      line-height: 2rem;
      border-bottom: 1px solid #E4E7ED;
      cursor: pointer;
      .num {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: url("../../assets/message.png") no-repeat center center;
        background-size: 1.5rem 1.5rem;
        font-size: 12px;
      }
    }
    .friends-list {
      overflow: scroll;
      padding: 0;
      margin: 0;
      .friend-item {
        display: flex;
        list-style: none;
        line-height: 3rem;
        height: 3rem;
        padding: 0 2rem;
        border-bottom: 1px solid #E4E7ED;
        cursor: pointer;
        .avatar {
          padding: .5rem 0;
        }
        .nickname {
          height: 3rem;
          line-height: 3rem;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
    }
  }
}

