.wrapper {
  display: grid;
  grid-template-rows: 3rem auto;
  height: 100%;
  overflow: hidden;
  @at-root {
    header {
      position: relative;
      line-height: 3rem;
      color: #606266;
      border-bottom: 1px solid #DCDFE6;
      font-size: 20px;
      font-weight: lighter;
      i {
        position: absolute;
        cursor: pointer;
        top: 1rem;
        left: 1rem;
        font-size: 16px;
      }
    }
    .verify-list {
      padding: 0;
      margin: 0;
      overflow: scroll;
      .verify-item {
        display: flex;
        height: 4rem;
        line-height: 4rem;
        border-bottom: 1px solid #DCDFE6;
        list-style: none;
        .avatar {
          flex: 0;
          margin: 1rem;
        }
        .info {
          flex: 1;
          padding: 1rem 0;
          .nickname,
          .message {
            display: block;
            text-align: left;
            line-height: 1rem;
          }
          .nickname {
            font-weight: bold;
          }
          .message {
            font-size: 12px;
          }
        }
        .el-button {
          flex: 0;
          margin: 1rem;
        }
      }
    }
  }
}
